body { 
	font-family: $font-body;
	background-image: url('@/assets/images/bg.webp');
	background-color: $bg-color1;
	color: $text-color;
	font-size: 1rem;
	font-size: clamp(0.875rem, 0.833rem + 0.2083vw, 1rem);
}

h1,
h2,
h3,
h4 {
	font-family: $font-title1;
}


.button{
	background-color: $color-btn;
	color: $text-color;
	outline: 2px solid $color2;
	font-weight: 600;
	text-align: center;
	padding: .625em 1em;
	border-radius: .5rem;	
	transition: all .3s ease-out;
	&:hover, &:focus {
		background-color: $color2-hover;
		transform: scale(0.97);
	}
	@media (max-width: 768px) {
		font-size: 0.75rem;
	}
}

.wrapper {
	max-width: 80em;
	width: 90%;
	min-height: 100%;
	margin: 4em auto .25em;
		
}

.section-title {
	font-size: clamp(1.125rem, 0.667rem + 2.292vw, 2.5rem);
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-bottom: .5em;
}