$font-body: "Open Sans", sans-serif;
$font-title1: "EB Garamond",
serif;
$font-title2: "Adamina", serif;
$bg-color1: rgb(255, 248, 243);
$color2: rgb(238, 98, 55);
$color2-hover: rgb(230, 204, 179);
$text-color: rgb(79, 68, 62);