$font-body: "Open Sans", sans-serif;
// $font-body: "Poppins",sans-serif;
// $font-title1: "EB Garamond", serif;
$font-title1: "Libre Caslon Text", serif;
$font-title2: "Adamina", serif;
// $bg-color1: rgb(255, 248, 243);
$bg-color1: rgb(241, 238, 236);
$color2: rgb(238, 98, 55);
$color-btn: rgb(230, 204, 179);
$color2-hover: rgb(238, 155, 130);
$text-color: rgb(79, 68, 62);

// $toastify-color-success:rgb(238, 98, 55);